<div class="container d-flex justify-content-center">
   <form [formGroup]="userForm" (ngSubmit)="submitData()">
      <div class="mb-3">
        <label for="username" class="form-label">Name</label>
        <input type="text" class="form-control" id="username" formControlName="name" name="name">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="userage" class="form-label">Age</label>
        <input type="number" class="form-control" id="userage" formControlName="age" name="age">
      </div>

      <div class="mb-3">
         <label for="userphone" class="form-label">Phone</label>
         <input type="tel" class="form-control" id="userphone" formControlName="phone" name="phone">
       </div>
     
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
