<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"data-bs-backdrop="static">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Register Here</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="username" class="col-form-label">Username:</label>
             <input type="text" class="form-control" id="username" name="username">
           </div>
           <div class="mb-3">
            <label for="password" class="col-form-label">Password:</label>
             <input type="password" class="form-control" id="password" name="password">
           </div>

           <div class="mb-3">
            <label for="confpassword" class="col-form-label">Confirm Password:</label>
             <input type="password" class="form-control" id="confpassword" name="confpassword">
           </div>

           <div class="mb-3">
             <input type="submit" class="btn btn-primary w-100">
           </div>
         </form>
         {% comment %} <p class=text-center>New user? click here to register</p> {% endcomment %}
       </div>
     </div>
   </div>
 </div>