<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
  <h1>Follwoing People registerd for blood donation</h1>
  {% if donors %}
  <table align='center' cellpadding='10px' cellspacing='0px' border=1>
   <thead >
      <tr>
         <th>ID</th>
         <th>NAME</th>
         <th>PHONE</th>
         <th>CITY</th>
      </tr>
   </thead>
   <tbody>
      {% for donor in donors %}
      <tr>
         <td>{{donor.id}}</td>
         <td>{{donor.name}}</td>
         <td>{{donor.phone}}</td>
         <td>{{donor.city}}</td>
      </tr>
      {% endfor %}
   </tbody>
  </table>
  {% else %}
  <p>The are no blood donors found, please add some</p>
  {% endif %}
</body>
</html>