
{% extends 'admin/admin.html' %}
{% block adminbodycontent %}

<div class="d-flex justify-content-center mt-2">
   
  <form class="w-50" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center">Add new Product</h1>

    {% if  error_msg %}
    <div class="form-text text-danger">
      {{error_msg}}
    </div>
    {% endif %}

    <table class="table">
      <tbody>
        <tr>
            <th><label for="name" class="form-label">Name</label></th>
            <th><input type="text" class="form-control" id="name" name="name"></th> 
        </tr>
        <tr>
            <th><label for="price" class="form-label">Price</label></th>
            <th><input type="number" class="form-control" id="price" name="price"></th> 
        </tr>
        <tr>
            <th><label for="description" class="form-label">Description</label></th>
            <th><input type="text" class="form-control" id="description" name="description"></th> 
        </tr>
        <tr>
            <th><label for="quantity" class="form-label">Quantity</label></th>
            <th><input type="number" class="form-control" id="quantity" name="quantity"></th> 
        </tr>
        <tr>
            <th><label for="category" class="form-label">Category</label></th>
            <th>
               <select class="form-select" name="category" id="category">
                  <option selected>Open this select menu</option>
                  <option value="cloth">Clothes</option>
                  <option value="mobile">Mobile</option>
                  <option value="shoe">Shoes</option>
             </select></th> 
        </tr>
        <tr>
         <th><label for="image" class="form-label">Image</label></th>
         <th><input type="file" class="form-control" id="image" name="image"></th> 
        </tr>
        <tr>
            <th>
              <label class="form-check-label" for="is_available">Product available</label>
            </th>
            <th>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="is_available" name="is_available" checked>
              </div>
            </th>
          </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>   
</div>
 {% endblock adminbodycontent %} 
