<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <table align="center" border="1" cellspacing="0" cellpadding="10">
      <tr>
         <th>ID</th>
         <th>NAME</th>
         <th>DESIGNATION</th>
      </tr>
      {% for user in users %}
      <tr>
         <td>{{user.id}}</td>
         <td>{{user.name}}</td>
         <td>{{user.designation}}</td>
      </tr>
      {% endfor %}
   </table>
</body>
</html>